@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */
  height: 100%;
  margin: 0;
  background-color: rgb(228, 233, 255);
}

.container {
  flex: 1;
}

#instagram,
#linkedin,
#github {
  text-decoration: none;
}

footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

#copyright {
  font-size: xx-small;
}

